<div id="message"></div>
<form action="#" method=POST>
  <label for="name">Login:</label><input id="name" type=text name=name /><br />
  <label for="password">Password:</label><input id="password" type=password name=password /><br />
	<input id="signin" type="submit" value="Sign in" />
</form>

<script type="text/javascript">

    document.querySelector('form').onsubmit = function() {
        var divMessage = document.querySelector("#message");
        var username = document.querySelector("#name").value;
        var password = document.querySelector("#password").value;
        io.socket.post(
                '/user/login',
                {name:username, password:password},
                function(res,jsres) {
                    console.log(res,jsres);
                    if(jsres.statusCode === 200) {
                        if(res.redirect)
                            window.location = res.redirect;
                    }
                    else {
                        divMessage.innerHTML = res.message;
                    }
                }
        );
        return false;
    };
</script>
