<div class="alert alert-danger" role="alert" hidden id="message">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <div id="message-text" style="display:inline"></div>
</div>

<div class="col-lg-4"></div>
<div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sign in:</h3>
      </div>
      <div class="panel-body">
            <form action="#" method=POST id="signin-form">
                <div style="margin-bottom: 10px">
                    <label for="name" style="width: 100px; float: left">Login:</label>
                    <input id="name" type="text" name="name" />
                </div>

                <div style="margin-bottom: 10px">
                    <label for="password" style="width: 100px; float: left">Password:</label>
                    <input id="password" type=password name=password />
                </div>

                <input id="signin" type="submit" value="Sign in" class="btn btn-primary" style="margin-left: 206px"/>
           </form>
      </div>
    </div>
</div>

<script type="text/javascript">

    document.querySelector('#signin-form').onsubmit = function() {
        var divMessage = document.querySelector("#message");
        var divMessageText = document.querySelector("#message-text");
        var username = document.querySelector("#name").value;
        var password = document.querySelector("#password").value;
        divMessage.hidden = true;
        io.socket.post(
                '/user/login',
                {name:username, password:password},
                function(res,jsres) {
                    if(jsres.statusCode === 200) {
                        if(res.redirect)
                            window.location = res.redirect;
                    }
                    else {
                        divMessage.hidden = false;
                        divMessageText.innerHTML = res.message;
                    }
                }
        );
        return false;
    };
</script>
