<div id="message"></div>


<div class="col-lg-4"></div>
<div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sign up:</h3>
      </div>
      <div class="panel-body">
            <form id="signup-form" action="#" method=POST>              
                <div style="margin-bottom: 10px">
                    <label for="name" style="width: 100px; float: left">Login:</label>
                    <input id="name" type=text name=name required pattern=".{4,}" title="Username needs to be at least 4 characters long"/>
                    <div id="nameMessage"></div>
                </div>

                <div style="margin-bottom: 10px">
                    <label for="email" style="width: 100px; float: left">Email:</label>
                    <input id="email" type="email" required name="email" />
                    <div id="emailMessage"></div>
                </div>
                
                <div style="margin-bottom: 10px">
                    <label for="password" style="width: 100px; float: left">Password:</label>
                    <input id="password" required type="password" name=password pattern=".{6,}" title="Password needs to be at least 6 characters long"/>               
                </div>
                
                <input id="signup" type="submit" value="Sign up" class="btn btn-primary" style="margin-left: 200px"/>
           </form>
      </div>
    </div>
</div>


<script type="text/javascript">
  var divMessage = document.querySelector("#message");
  var username = document.querySelector("#name");
  var password = document.querySelector("#password");
  var email = document.querySelector("#email");
  var form = document.querySelector("#signup-form");

  username.onchange = validate;
  email.onchange = validate;
  form.onsubmit = function(){
    io.socket.post(
      '/user/register',
      {name:username.value, password:password.value, email: email.value},
      function(res,jsres) {
        if(jsres.statusCode === 200) {
          if(res.redirect) {
            alert(res.message);
            window.location = res.redirect;
          }
        }
        else {
          divMessage.innerHTML = res.message;
        }
      }
    );
    return false;
  };

  function validate() {
    var inputName = this.name;
    var inputValue = this.value;
    var inputMessageDiv = document.querySelector('#' + inputName + 'Message');
    if (this.validity.valid) {
      io.socket.post('/user/validate', {name: inputName, value: inputValue}, function (res, jsres) {
        if (jsres.statusCode === 200) {
          inputMessageDiv.innerHTML = res.message;
        }
      });
    }
    else {
      inputMessageDiv.innerHTML = this.validationMessage;
    }
  }
</script>
