<div id="message"></div>

<form id="signup-form" action="#" method=POST>
  <label for="name">Login:</label><input id="name" type=text name=name required pattern=".{4,}" title="Username needs to be at least 4 characters long"/><div id="nameMessage"></div><br />
  <label for="email">Email:</label><input id="email" type="email" required name="email" /><div id="emailMessage"></div><br />
  <label for="password">Password:</label><input id="password" required type="password" name=password pattern=".{6,}" title="Password needs to be at least 6 characters long"/><br />
  <input id="signup" type="submit" value="Sign up" />
</form>

<script type="text/javascript">
  var divMessage = document.querySelector("#message");
  var username = document.querySelector("#name");
  var password = document.querySelector("#password");
  var email = document.querySelector("#email");
  var form = document.querySelector("#signup-form");

  username.onchange = validate;
  email.onchange = validate;
  form.onsubmit = function(){
    io.socket.post(
      '/user/register',
      {name:username.value, password:password.value, email: email.value},
      function(res,jsres) {
        if(jsres.statusCode === 200) {
          if(res.redirect) {
            alert(res.message);
            window.location = res.redirect;
          }
        }
        else {
          divMessage.innerHTML = res.message;
        }
      }
    );
    return false;
  };

  function validate() {
    var inputName = this.name;
    var inputValue = this.value;
    var inputMessageDiv = document.querySelector('#' + inputName + 'Message');
    if (this.validity.valid) {
      io.socket.post('/user/validate', {name: inputName, value: inputValue}, function (res, jsres) {
        if (jsres.statusCode === 200) {
          inputMessageDiv.innerHTML = res.message;
        }
      });
    }
    else {
      inputMessageDiv.innerHTML = this.validationMessage;
    }
  }
</script>
